@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Space Mono', monospace;
}

html {
  font-weight: 700;
  font-size: 24px;
}

p {
  font-size: 0.7rem;
}

#root {
  background-color: $light-grayish-cyan;

}

main {
  position: relative;

  .logo {
    padding-top: 2.1rem;
    margin-bottom: 1.7rem;
    display: flex;
    justify-content: center;
  }
}

/* removing stepper from input number*/
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
//firefox
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media screen and (min-width: 376px) {
  #root {
    width: 1440px; // change this to 100vh;
    height: 1024px;
    padding: 115px 260px 240px;
  }

  main {

    .logo {
      margin-bottom: 3.55rem;
    }
  }
}